<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Nunito+Sans:wght@400;600&display=swap');
      </style>
  </head>
  <body>
    <article class="index-page">
    <div>
      <p>Welcome to Book Store</p>
      <a href="/books">Get Started</a>
    </div>
  </article>
  </body>
</html>
