<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="/articles">
                All Articles
            </a>
        </li>
    </ul>
</header>
    <form action="/articles", method="POST">
<input type="text" name="title" placeholder="Title">
 <textarea name="description"cols="30" rows="1" placeholder="Description"></textarea>
<input type="text" name="tags" placeholder="Tags">
<input type="text" name="author" placeholder="Author">
<input type="submit" value="Add Article">
    </form>
    
</body>
</html>